name: e2e

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  schedule:
    - cron: "0 0 * * *"

permissions:
  contents: read

jobs:
  e2e:
    name: ${{ matrix.os }} (${{ matrix.version }})
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        version: [v0.46.0, latest]
    env:
      TFLINT_VERSION: ${{ matrix.version }}
    steps:
    - name: Checkout
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
    - name: Set up Go
      uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
      with:
        go-version-file: 'go.mod'

    - name: Install TofuLint
      run: curl -sL https://raw.githubusercontent.com/SoeldnerConsult/tofulint/master/install_linux.sh | bash
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Verify installation
      run: tofulint --version

    - name: Init TofuLint (basic test dir)
      run: tofulint --init
      working-directory: integration/basic

    - name: Run E2E tests
      run: make e2e
